

= render partial: 'partials/nav_hierarchy', locals: {app: @dimension.app, current_score: @dimension.rollup_score(@filter[:time_till]),
                                                     dimension: @dimension}

%dl.dl-horizontal
  %dt Description
  %dd= @dimension.description

  %dt Expectation
  %dd= @dimension.expectation

  -#%dt Weight
  -#%dd= @dimension.weight


= render partial: 'partials/timeline', locals: {thing: @dimension, filter: @filter}

%h3 Metrics

- @dimension.metrics.order(:name).each do |metric|
  = render partial: 'metrics/list_item', locals: {metric: metric}


