%p#notice= notice

= render partial: 'partials/nav_hierarchy', locals: {app: @dimension.app, current_score: @dimension.current_score,
                                                     dimension: @dimension}

%p
  %b Description:
  = @dimension.description
%p
  %b Expectation:
  = @dimension.expectation
%p
  %b Weight:
  = @dimension.weight

%h3 Metrics

- @dimension.metrics.each do |metric|
  = render partial: 'metrics/list_item', locals: {metric: metric}


= render partial: 'partials/timeline', locals: {thing: @dimension}