= form_for @subjective_assessment, :class => 'subjective-feedback' do |f|
  - if @subjective_assessment.errors.any?
    #error_explanation
      %h2= "#{pluralize(@subjective_assessment.errors.count, "error")} prohibited this subjective_assessment from being saved:"
      %ul
        - @subjective_assessment.errors.full_messages.each do |msg|
          %li= msg

  - @subjective_assessment.dimensions.each do |dimension|
    = render partial: 'subjective_assessments/dimension_assessment',
        locals: {f: f, dimension: dimension}


  .actions
    = f.submit 'Save', id: 'createAssessment'
