%h1 Listing values

%table
  %tr
    %th Stamp
    %th Value
    %th Metric
    %th
    %th
    %th

  - @values.each do |value|
    %tr
      %td= value.stamp
      %td= value.value
      %td= value.metric
      %td= link_to 'Show', value
      %td= link_to 'Edit', edit_value_path(value)
      %td= link_to 'Destroy', value, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Value', new_value_path
