
= render partial: 'partials/nav_hierarchy', locals: {app: @value.metric.dimension.app, current_score: nil,
                                                    dimension: @value.metric.dimension, metric: @value.metric}

%dl.dl-horizontal
  %dt Description
  %dd= @value.metric.description

  %dt Assessment timestamp
  %dd= @value.stamp

  %dt Assessment value
  %dd= @value.value


%h3 Improvement Advice
%p#improvement= unique_links_for_scope(@value.improvement_advice, @value.id).try(:html_safe)
