%p#notice= notice

%p
  %b Stamp:
  = @value.stamp
%p
  %b Value:
  = @value.value
%p
  %b Metric:
  = @value.metric
%p
  %b Improvement Advice:
  = @value.improvement_advice.try(:html_safe)

= link_to 'Edit', edit_value_path(@value)
\|
= link_to 'Back', values_path
