%h1 Listing metrics

%table
  %tr
    %th Name
    %th Description
    %th Expectation
    %th Weight
    %th Dimension
    %th
    %th
    %th

  - @metrics.each do |metric|
    %tr
      %td= metric.name
      %td= metric.description
      %td= metric.expectation
      %td= metric.weight
      %td= metric.dimension
      %td= link_to 'Show', metric
      %td= link_to 'Edit', edit_metric_path(metric)
      %td= link_to 'Destroy', metric, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Metric', new_metric_path
