
= render partial: 'partials/nav_hierarchy', locals: {app: @metric.dimension.app, current_score: @metric.rollup_score(@filter[:time_till]),
                                                    dimension: @metric.dimension, metric: @metric}

%dl.dl-horizontal
  %dt Description
  %dd= @metric.description

  %dt Weight
  %dd= @metric.weight

= render partial: 'partials/timeline', locals: {thing: @metric, filter: @filter}


%h3 Most recent values
%ul.list-unstyled
- @metric.recent_values(@filter[:time_till]).each do |value|
  - next unless value
  %li
    = link_to value.metric.name, value.metric
    = value.stamp
    = value.value
    = link_to "Improvement Advice", value if value.improvement_advice.present?