%fieldset
  %legend= assessment.name
  -#= label_tag 'Name'
  -#= dimension[:name]
  .row
    .col-md-4.bg-info
      %dl
        %dt Definition
        %dd=assessment.description
    .col-md-4
      Given the definition please answer the following question:
      Is the data quality satisfying?
      %br
      -#= label_tag(:satisfactory, "check for yes")
      -#= f.check_box :satisfactory
      = f.radio_button(:satisfactory, true)
      = label_tag("Yes")
      %br
      = f.radio_button(:satisfactory, false)
      = label_tag("No")