%fieldset
  %legend= assessment.name
  -#= label_tag 'Name'
  -#= dimension[:name]
  .row
    .col-md-4.bg-info
      %dl
        %dt Definition
        %dd=assessment.description
    .col-md-4
      Given the definition please answer the following question:
      Is the application's data quality?
      %br
      -#= f.check_box :satisfactory
      = radio_button_tag("#{assessment.name}_satisfying?", true)
      = label_tag(:good_assessment, "Yes, satisfying.")
      %br
      = radio_button_tag("#{assessment.name}_satisfying?", false)
      = label_tag(:bad_assessment, "No, not satisfying.")