%fieldset
  %legend= dimension[:name]
  -#= label_tag 'Name'
  -#= dimension[:name]
  %br
  = label_tag 'Definition'
  = dimension[:description]
  %br
  Following the above definition do you feel the applications data quality is:
  = radio_button_tag("#{dimension[:name]}_satisfying?", true)
  = label_tag(:good_assessment, "satisfying")

  = radio_button_tag("#{dimension[:name]}_satisfying?", false)
  = label_tag(:bad_assessment, "not satisfying")