%h3 New Subjective Assessment
- App.all.each do |app|
  %ul
    %li= link_to "Subjective Assessment for #{app.name}", new_subjective_assessment_path(subjective_assessment_survey: {app_id: app})

%h3 Listing subjective_assessments

%table
  %tr
    %th Dimensions
    %th App
    %th
    %th
    %th

  - @subjective_assessment_surveys.each do |subjective_assessment|
    %tr
      %td= subjective_assessment.dimensions
      %td= subjective_assessment.app
      %td= link_to 'Show', subjective_assessment
      %td= link_to 'Edit', edit_subjective_assessment_path(subjective_assessment)
      %td= link_to 'Destroy', subjective_assessment, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br


