%p#notice= notice

%p
  %b Name:
  = @app.name
%p
  %b Expectation:
  = @app.expectation

= link_to 'Edit', edit_app_path(@app)
\|
= link_to 'Back', apps_path

%ul
- @app.dimensions.each do |dimension|
  %li= link_to(dimension.name, dimension)
